html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue-medium: #172755;
  --color-blue-dark: #0F1F4B;
  --color-blue: #2A407C;
  --color-blue-light: #465B95;
  --color-blue-thin: #8794BA;
  --color-pink: #EF2A82;
  --color-gray-light: #EEEEF7;
  --theme-background: var(--color-blue-medium);
  --theme-background-main: var(--color-gray-light);
  --theme-link: var(--color-blue-thin);
  --theme-paragraph: var(--color-blue-thin);
  --theme-title: var(--color-white);
  --theme-subtitle: var(--color-blue-medium); }

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("/fonts/Roboto/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

.button {
  --colorButton: var(--color-white);
  --backgroundColor: transparent;
  --backgroundColorHover: var(--color-pink);
  --colorHover: var(--color-white);
  --borderColor: var(--backgroundColor);
  --borderRadius: 40px;
  --cursor: pointer;
  --width: auto;
  --height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: var(--height);
  --fontSize: 14px;
  --lineHeightMod: 8px;
  --lineHeight: calc(var(--fontSize) + var(--lineHeightMod));
  --fontWeight: 400;
  --fontFontColor: var(--theme-paragraph);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);
  color: var(--fontFontColor);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--colorButton);
  border-radius: var(--borderRadius);
  cursor: var(--cursor);
  background-color: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  width: var(--width);
  transition: color 0.25s linear .125s, border .25s linear .125s, background-color .25s linear .125s; }
  .button:hover {
    background-color: var(--backgroundColorHover);
    color: var(--colorHover); }
  .button--registration {
    --borderColor: var(--color-blue-thin);
    --colorButton: var(--color-blue-thin);
    --width: 161px; }
    .button--registration:hover {
      --borderColor: var(--color-pink); }
  .button--pink {
    margin-top: 49px;
    --backgroundColor: var(--color-pink);
    --width: 238px;
    --height: 50px; }
    .button--pink:hover {
      --backgroundColorHover: transparent;
      --borderColor: var(--color-blue-thin); }
    @media screen and (max-width: 768px) {
      .button--pink {
        margin-top: 26px; } }
  .button--order {
    --borderColor: var(--color-blue-thin);
    --width: 100%;
    --height: 50px; }
    .button--order:hover {
      --borderColor: var(--color-pink); }

.title {
  --fontSize: 14px;
  --lineHeightMod: 8px;
  --lineHeight: calc(var(--fontSize) + var(--lineHeightMod));
  --fontWeight: 400;
  --fontFontColor: var(--theme-paragraph);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);
  color: var(--fontFontColor);
  --fontSize: 50px;
  --fontWeight: 700;
  --fontFontColor: var(--theme-title);
  margin-bottom: 15px; }
  @media screen and (max-width: 1024px) {
    .title {
      --fontSize: 31px; } }
  .title--bottom {
    --fontSize: 40px;
    margin-bottom: 30px; }
    @media screen and (max-width: 768px) {
      .title--bottom {
        --fontSize: 30px;
        margin-bottom: 20px; } }
  .title--card {
    --fontSize: 30px;
    --fontWeight: 700;
    margin-bottom: 0;
    transition: color 0.35s linear 0.175s; }
    @media screen and (max-width: 768px) {
      .title--card {
        --fontSize: 25px; } }

.text {
  --fontSize: 14px;
  --lineHeightMod: 8px;
  --lineHeight: calc(var(--fontSize) + var(--lineHeightMod));
  --fontWeight: 400;
  --fontFontColor: var(--theme-paragraph);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);
  color: var(--fontFontColor);
  --fontSize: 18px;
  --fontFontColor: var(--color-blue-thin);
  --textPadding: 0;
  padding: var(--textPadding); }
  @media screen and (max-width: 768px) {
    .text {
      --fontSize: 14px; } }
  .text--option {
    --fontSize: 16px; }
    @media screen and (max-width: 768px) {
      .text--option {
        --fontSize: 14px; } }
  .text--title {
    margin-bottom: 15px;
    --fontSize: 16px;
    --fontWeight: 700;
    --fontFontColor: var(--color-blue-medium);
    transition: color 0.35s linear 0.175s; }
    @media screen and (max-width: 768px) {
      .text--title {
        margin-bottom: 0; } }
  .text--card {
    --textPadding: 0 0 40px;
    transition: color 0.35s linear 0.175s; }
  .text--mini {
    --fontSize: 16px;
    text-align: center;
    transition: color 0.35s linear 0.175s; }
  .text--dollar {
    --fontSize: 30px;
    --fontWeight: 700;
    --fontFontColor: var(--color-white);
    transition: 0.35s linear 0.175s; }
  .text--number {
    --fontSize: 60px;
    --fontWeight: 700;
    --fontFontColor: var(--color-white);
    transition: color 0.35s linear 0.175s; }
  .text--bottom {
    text-align: center; }
    @media screen and (max-width: 767px) {
      .text--bottom {
        text-align: left; } }

.title-middle {
  margin-bottom: 30px;
  --fontSize: 14px;
  --lineHeightMod: 8px;
  --lineHeight: calc(var(--fontSize) + var(--lineHeightMod));
  --fontWeight: 400;
  --fontFontColor: var(--theme-paragraph);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);
  color: var(--fontFontColor);
  --fontSize: 40px;
  --fontWeight: 700;
  --fontFontColor: var(--theme-subtitle); }
  @media screen and (max-width: 768px) {
    .title-middle {
      margin-bottom: 20px;
      --fontSize: 30px; } }

a {
  --fontSize: 14px;
  --lineHeightMod: 8px;
  --lineHeight: calc(var(--fontSize) + var(--lineHeightMod));
  --fontWeight: 400;
  --fontFontColor: var(--theme-paragraph);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);
  color: var(--fontFontColor);
  --fontSize: 16px;
  cursor: pointer;
  transition: color 0.25s ease;
  text-decoration: underline; }
  a:hover {
    --fontFontColor: var(--color-pink); }

.navigation-link {
  text-decoration: none; }
  .navigation-link + .navigation-link {
    margin-left: 36px; }

.entrance-link {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.5s ease;
  --fontSize: 14px;
  --lineHeightMod: 8px;
  --lineHeight: calc(var(--fontSize) + var(--lineHeightMod));
  --fontWeight: 400;
  --fontFontColor: var(--theme-paragraph);
  font-size: var(--fontSize);
  font-weight: var(--fontWeight);
  line-height: var(--lineHeight);
  color: var(--fontFontColor);
  --fontSize: 16px; }
  .entrance-link:hover {
    --fontFontColor: var(--color-pink); }

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px; }

.header {
  background-color: #172755; }

.header-navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 60px; }
  .header-navigation__menu {
    display: flex;
    align-items: center; }
  .header-navigation__button {
    display: flex;
    align-items: center;
    gap: 40px; }

.header-logo {
  margin-right: 95px; }

.header-navigation-list {
  display: flex; }

.menu-burger {
  display: none; }

.header-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'pic title';
  grid-template-rows: auto;
  align-items: center;
  gap: 10px;
  margin-top: 74px;
  padding-top: 75px; }
  .header-info__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: pic; }

.header-general-pic {
  display: none; }

.header-general-img {
  max-width: 100%;
  height: auto; }

.header-circle-charts {
  background: url("../img/template/circle_schedule.png") no-repeat;
  background-position: center;
  width: 427px;
  height: 323px;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out; }
  .header-circle-charts:hover {
    transform: rotate(360deg);
      transform-transform: rotate(360deg); }

.container-bc {
  background: url("../img/template/general_schedule.png") no-repeat;
  height: 600px;
  background-position: calc(100% + 10%); }

@media only screen and (max-width: 1600px) {
  .container-bc {
    background-position: 56vw; } }

@media only screen and (max-width: 1024px) {
  .move {
    transform: translateY(450px); }
  .header-navigation {
    background-color: var(--color-blue-medium);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 130;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 0; }
    .header-navigation::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 86px;
      background-color: var(--color-blue-medium);
      opacity: 1;
      z-index: 5; }
    .header-navigation__button {
      z-index: 5; }
  .header-navigation-list {
    position: fixed;
    top: -450px;
    left: 0;
    width: 100%;
    height: 50%;
    background: var(--color-gray-light);
    padding: 95px 56px 20px 56px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .navigation-link + .navigation-link {
    margin-left: 0; }
  .header-logo {
    z-index: 5; }
  .container-bc {
    background: none; }
  .menu-burger {
    display: block;
    position: relative;
    cursor: pointer;
    width: 24px;
    height: 24px;
    z-index: 5; }
    .menu-burger::before {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background: var(--theme-paragraph); }
    .menu-burger::after {
      display: block;
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      top: 16px;
      background: var(--theme-paragraph); }
    .menu-burger__line {
      display: block;
      width: 100%;
      height: 3px;
      background: var(--theme-paragraph);
      position: absolute;
      top: 8px; }
  .change::before {
    transform: rotate(45deg);
    bottom: 11px; }
  .change::after {
    transform: rotate(-45deg);
    top: 10px; }
  .change .menu-burger__line {
    transform: scale(0); }
  .header-info {
    padding-top: 29px; }
    .header-info__title-main {
      font-size: 31px;
      line-height: 37px; }
    .header-info__text {
      font-size: 18px;
      line-height: 27px; }
  .header-general-pic {
    display: block;
    width: 100%; }
  .header-circle-charts {
    display: none; } }

@media only screen and (max-width: 768px) {
  .header-navigation {
    align-items: center;
    padding-top: 29px;
    gap: 18px; }
    .header-navigation__menu {
      flex-grow: 1; }
  .header-info {
    grid-template-columns: 1fr;
    grid-template-areas: 'pic' 'title';
    justify-items: center;
    margin-top: 0;
    padding-top: 29px; }
    .header-info__title {
      grid-area: title; }
    .header-info__title-main {
      font-size: 31px;
      line-height: 37px; }
    .header-info__text {
      font-size: 18px;
      line-height: 27px; }
  .header-general-img {
    height: 350px; }
  .container-bc {
    margin-top: 68px; } }

@media only screen and (max-width: 690px) {
  .header-navigation-list {
    position: fixed;
    top: -450px; } }

@media only screen and (max-width: 640px) {
  .header-info {
    margin-top: 0;
    padding-top: 29px; }
  .button--registration {
    display: none; }
  .header-general-img {
    height: 300px; }
  .header-button {
    width: 100%;
    margin-top: 10px; } }

@media only screen and (max-width: 425px) {
  .header-general-pic {
    width: 100%;
    height: auto; }
  .header-general-img {
    height: auto; } }

@media only screen and (max-width: 413px) {
  .header-navigation {
    gap: 16px; }
  .header-logo {
    margin: 0; }
  .header-info__title-main {
    font-size: 30px;
    line-height: 37px; }
  .header-general-pic {
    width: 100%;
    height: auto; }
  .header-general-img {
    height: auto; } }

.mobile-navigation__shadow {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity .2s linear; }
  .mobile-navigation__shadow.active {
    opacity: 1;
    pointer-events: auto; }

.mobile-navigation__menu {
  top: 86px;
  left: auto;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 120;
  padding: 24px;
  transition: transform .2s linear, opacity .2s linear;
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  pointer-events: none;
  background-color: var(--color-gray-light);
  width: 100%;
  max-width: 300px; }
  @media only screen and (max-width: 413px) {
    .mobile-navigation__menu {
      max-width: none; } }
  .mobile-navigation__menu .header-navigation-list {
    position: static;
    top: auto;
    padding: 0; }
  .mobile-navigation__menu.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    pointer-events: auto; }

.main {
  background: var(--theme-background-main); }
  .main::before {
    display: block;
    content: '';
    background: var(--color-pink);
    width: 100%;
    height: 15px; }

.footer {
  background-color: var(--theme-subtitle);
  padding-bottom: 111px; }

.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 69px; }
  .footer-menu__social {
    display: flex;
    gap: 40px; }
  .footer-menu__icon {
    transition: 1s; }
    .footer-menu__icon:hover {
      transform: scale(1.5); }

@media only screen and (max-width: 1024px) {
  .footer-menu {
    justify-content: space-around; } }

@media only screen and (max-width: 425px) {
  .footer-menu {
    flex-direction: column;
    gap: 36px; } }

.section-features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .section-features__subtitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    color: var(--theme-subtitle); }

.section-features-info {
  text-align: center;
  margin-top: 38px; }

@media only screen and (max-width: 769px) {
  .section-features-info {
    text-align: left; }
  .section-features__subtitle {
    font-size: 30px;
    line-height: 35px; }
  .section-features__text {
    font-size: 14px;
    line-height: 19px;
    margin-top: 20px; } }

.section-features-list {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 82px; }
  .section-features-list__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    text-align: center; }

@media only screen and (max-width: 769px) {
  .section-features-list {
    flex-direction: column;
    gap: 35px;
    margin-top: 40px; }
    .section-features-list__item {
      flex-direction: row;
      align-items: flex-start; }
    .section-features-list__option {
      text-align: start; }
      .section-features-list__option-title {
        color: var(--theme-subtitle);
        font-size: 16px;
        font-weight: 700;
        line-height: 19px; }
      .section-features-list__option-description {
        margin-top: 9px;
        color: var(--theme-paragraph); } }

@media only screen and (max-width: 428px) {
  .section-features-list {
    margin-top: 40px; }
    .section-features-list__item {
      align-items: flex-start; }
    .section-features-list__icon {
      flex: 0 0 25%; } }

.statistic {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  gap: 80px; }

.statistic-card {
  display: flex;
  align-items: center;
  gap: 100px; }
  .statistic-card__description-image {
    max-width: 590px;
    border-radius: 15px;
    max-height: 410px;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2); }
    .statistic-card__description-image--reverse {
      order: -1; }

@media only screen and (max-width: 1024px) {
  .statistic-card__description-image {
    width: 100%; } }

@media only screen and (max-width: 769px) {
  .statistic {
    margin-top: 71px;
    gap: 60px 0px; }
  .statistic-card {
    flex-direction: column;
    gap: 30px 0px; }
    .statistic-card__description-image {
      width: 100%; }
  .statistic-card-revers {
    flex-direction: column-reverse; } }

@media only screen and (max-width: 413px) {
  .statistic-card__description-title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 20px; }
  .statistic-card__description-text {
    font-size: 14px;
    line-height: 19px; } }

.price {
  margin-top: 114px;
  background-color: var(--theme-subtitle); }
  .price::before {
    display: block;
    content: '';
    background: var(--color-pink);
    width: 100%;
    height: 15px; }

.price-plan {
  --marginPriceTop: 20px;
  --marginPriceBottom: 36px;
  --textPaddingBottom: 40px; }
  .price-plan::after {
    content: '';
    display: block;
    margin-top: 100px;
    max-width: 1180px;
    border-bottom: 1px solid var(--color-blue); }
  .price-plan__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px; }
  .price-plan__description-title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
    color: var(--color-white);
    margin-bottom: 30px; }
  .price-plan__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 24px;
    margin-top: 80px; }
  .price-plan__cards-item {
    padding: 60px;
    height: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: var(--color-blue-dark);
    transition: color 0.25s linear .125s, background-color 0.35s linear 0.175s; }
    .price-plan__cards-item:hover {
      background-color: var(--color-white); }
    .price-plan__cards-item:hover div {
      color: var(--color-blue-medium); }
    .price-plan__cards-item:hover span {
      color: var(--color-blue-medium); }
    .price-plan__cards-item:hover .button--order {
      --colorButton: var(--color-blue-medium); }
  .price-plan__cards-description {
    text-align: center; }
    .price-plan__cards-description:after {
      content: '';
      display: block;
      width: 100%;
      border-bottom: 1px solid var(--color-blue); }
  .price-plan__cards-price {
    margin-bottom: var(--marginPriceBottom);
    margin-top: var(--marginPriceTop); }

@media only screen and (max-width: 1050px) {
  .price-plan__cards {
    gap: 15px; } }

@media only screen and (max-width: 1024px) {
  .price-plan__cards {
    gap: 15px; }
  .price-plan__cards-item {
    height: 358px;
    padding: 30px; }
  .price-plan__cards-price {
    --marginPriceBottom: 36px;
    --marginPriceTop: 20px; }
  .price-plan__cards-text {
    padding-bottom: 30px; } }

.price-plan__cards-text--mini {
  padding: 0; }

@media only screen and (max-width: 767px) {
  .price-plan__description {
    --marginPriceTop: 60px;
    align-items: flex-start; }
  .price-plan__cards {
    grid-template-columns: repeat(2, 1fr);
    --marginPriceTop: 60px;
    gap: 15px; }
  .price-plan__cards-item:last-child {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    padding: 30px;
    height: 220px;
    width: 100%; }
    .price-plan__cards-item:last-child .text--card {
      --textPadding: 0; }
    .price-plan__cards-item:last-child .price-plan__cards-price {
      --marginPriceTop: 0;
      --marginPriceBottom: 0;
      display: flex;
      align-items: center;
      gap: 5px; } }

@media only screen and (max-width: 624px) {
  .price-plan__cards {
    grid-template-columns: 1fr;
    justify-items: center; }
  .price-plan__cards-item {
    width: 280px;
    height: 358px; }
  .price-plan__cards-item:last-child {
    flex-direction: column;
    gap: 0;
    width: 280px;
    height: 358px; }
    .price-plan__cards-item:last-child .text--card {
      --textPadding: 0 0 40px; }
    .price-plan__cards-item:last-child .price-plan__cards-price {
      --marginPriceBottom: 36px;
      --marginPriceTop: 20px;
      display: inline-block; } }

* {
  box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }
  *:focus {
    outline: none !important; }

body, html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif; }
  body.scroll-less, html.scroll-less {
    overflow: hidden; }

/*# sourceMappingURL=style.css.map */
